<!DOCTYPE html>
<html
    layout:decorate="~{layouts/default_layout}"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org"
>

<!-- home.html 고유 CSS 추가. 필요시 아래 주석 제거하고 매핑 -->
<th:block layout:fragment="css">
  <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
</th:block>
<!-- home_new.html 고유 스크립트 추가 -->


<!-- Content -->
<div layout:fragment="content">
  <h1>Content-지금은 cartList에 와 있습니다.</h1>

  <div>총계 js로 구하고

    구매버튼</div>

  <div class="row" >
    <div class="col-md-1">
      <input type="checkbox" value="선택" id="cartList-checkbox-all" checked>
    </div>

    <div class="col-md-4">
      도서명
    </div>
    <div class="col-md-3">
      가격(정가, 할인가, 마일리지적립액)
    </div>
    <div class="col-md-2">
      수량
    </div>
    <div class="col-md-2">
      삭제
    </div>
  </div>

  <div class="row" th:each="cartList: ${member.getCartList()}">
    <div class="col-md-1">
      <input type="checkbox" class="cartList-checkbox"  name="cartList-checkbox" checked>    </div>
    <div class="col-md-4">
      <div th:text="${cartList.getBook().getBookName()}"></div>
    </div>
    <input type="text" class="book-eachSum" value="함수가 입력해줄꺼임" onclick="eachSum(this)">
    <div class="col-md-3">
      <div class="book-price" th:text="${cartList.getBook().getPrice()}" th:value="${cartList.getBook().getPrice()}"></div>
    </div>
    <div class="col-md-2">
      <span class="book-quantity" th:text="${cartList.getQuantity()}"  th:value="${cartList.getQuantity()}"></span>
      <span>
        <input type="button" value="+" th:onclick="|location.href='/function/quantityManager/1?cartSeq=${cartList.getSeq()}'|">
       <input type="button" value="-" th:onclick="|location.href='/function/quantityManager/-1?cartSeq=${cartList.getSeq()}'|">
      </span>
    </div>
    <div class="col-md-2">
      <input type="button" value="삭제" th:onclick="|location.href='/function/deleteFromCart/${cartList.getSeq()}'|">
    </div>

  </div>


  <!--총계 및 구매 구간 시작-->
<div class="book-price-summary">

  합계: <div class="book-price-final" value=""></div>



</div>

  <!--총계 및 구매 구간 끝-->




</div>


<th:block layout:fragment="script">
  <script>
    $(document).ready(function() {
      $("#cartList-checkbox-all").click(function() {
        if($("#cartList-checkbox-all").is(":checked")) $("input[name=cartList-checkbox]").prop("checked", true);
        else $("input[name=cartList-checkbox]").prop("checked", false);
      });

      $("input[name=cartList-checkbox]").click(function() {
        var total = $("input[name=cartList-checkbox]").length;
        var checked = $("input[name=cartList-checkbox]:checked").length;

        if(total != checked) $("#cartList-checkbox-all").prop("checked", false);
        else $("#cartList-checkbox-all").prop("checked", true);
      });
    });

    function quantityPlus(prop){

    }
    function quantityMinus(prop){

    }

    function eachSum(props){
      let price= $(props).parent().children(".col-md-3").children(".book-price").attr("value");
      let quantity= $(props).parent().children(".col-md-2").children(".book-quantity").attr("value");

      let eachSum =price*quantity;
      $(props).val(eachSum);
    }


    //여기부터 고쳐야함
      let eachSums = document.querySelectorAll(".book-eachSum");
    console.log(eachSums);
      let finalPrice = 0;
      for (let i = 0; i < eachSums.length; i++) {
        let eachSumss = eachSums.item(i).getAttribute("value");
        finalPrice += eachSumss;
      }

      document.querySelector(".book-price-final").value=finalPrice;



  </script>
</th:block>

</html>
