<!DOCTYPE html>
<html
    layout:decorate="~{layouts/default_layout}"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org"
>

<!-- home.html 고유 CSS 추가. 필요시 아래 주석 제거하고 매핑 -->
<th:block layout:fragment="css">
  <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
</th:block>
<!-- home_new.html 고유 스크립트 추가 -->


<!-- Content -->
<div layout:fragment="content">
  <h1>Content-지금은 cartList에 와 있습니다.</h1>



  <div class="row" >
    <div class="col-md-1 checkbox">
      <input type="checkbox" value="선택" id="cartList-checkbox-all" checked>
    </div>

    <div class="col-md-4">
      도서명
    </div>
    <div class="col-md-2">
      가격(정가, 할인가, 마일리지적립액)
    </div>
    <div class="col-md-1">
      수량
    </div>
    <div class="col-md-2">
      결제금액
    </div>
    <div class="col-md-2">
      삭제
    </div>
  </div>
  <form action="/function/buyAction">
  <div class="row" th:each="cartList: ${member.getCartList()}">
    <div class="col-md-1 checkbox">
      <input type="checkbox" class="cartList-checkbox checkbox"  name="cartList-checkbox" checked>
      <input th:type="hidden" name="cartSeq" th:value="${cartList.getSeq()}">
    </div>
    <div class="col-md-4">
      <div th:text="${cartList.getBook().getBookName()}"></div>
    </div>
    <div class="col-md-2">
      <div class="book-price" th:text="${cartList.getBook().getPrice()}" th:value="${cartList.getBook().getPrice()}"></div>
    </div>
    <div class="col-md-1">
      <span class="book-quantity" th:text="${cartList.getQuantity()}"  th:value="${cartList.getQuantity()}"></span>
      <span>
        <input type="button" value="+" th:onclick="|location.href='/function/quantityManager/1?cartSeq=${cartList.getSeq()}'|">
       <input type="button" value="-" th:onclick="|location.href='/function/quantityManager/-1?cartSeq=${cartList.getSeq()}'|">
      </span>
    </div>
    <div class="col-md-2">
      <div th:with="sum=${cartList.getBook().getPrice()}*${cartList.getQuantity()}">
        <div class="book-price-sum" th:text="${sum}" th:value="${sum}"></div>
      </div>
    </div>
    <div class="col-md-2">
      <input type="button" value="삭제" th:onclick="|location.href='/function/deleteFromCart/${cartList.getSeq()}'|">
    </div>

  </div>


  <!--총계 및 구매 구간 시작-->

<div class="book-price-summary">

  합계: <span class="book-price-final"></span>
<input type="submit" value="구매하기">


</div>
  </form>
  <!--총계 및 구매 구간 끝-->




</div>


<th:block layout:fragment="script">
  <script>
    $(document).ready(function() {
      $("#cartList-checkbox-all").click(function() {
        if($("#cartList-checkbox-all").is(":checked")) $("input[name=cartList-checkbox]").prop("checked", true);
        else $("input[name=cartList-checkbox]").prop("checked", false);
      });

      $("input[name=cartList-checkbox]").click(function() {
        var total = $("input[name=cartList-checkbox]").length;
        var checked = $("input[name=cartList-checkbox]:checked").length;

        if(total != checked) $("#cartList-checkbox-all").prop("checked", false);
        else $("#cartList-checkbox-all").prop("checked", true);
      });
    });


    //여기부터 고쳐야함
    //   let eachSums = document.querySelectorAll(".book-eachSum");
    // console.log(eachSums);
    //   let finalPrice = 0;
    //   for (let i = 0; i < eachSums.length; i++) {
    //     let eachSumss = eachSums.item(i).getAttribute("value");
    //     finalPrice += eachSumss;
    //   }
    //
    //   document.querySelector(".book-price-final").value=finalPrice;

let finalPrice=0;

$('.book-price-sum').each(function(){
let checkbox = this.parentNode.parentNode.parentNode.childNodes.item(1).childNodes.item(1);
console.log("체크박스: "+checkbox);
if(checkbox.checked){
  let eachPrice = $(this).attr("value") *1;
 finalPrice+=eachPrice;
}
$('.book-price-final').text(finalPrice);
console.log(finalPrice);
console.log($('.book-price-final'));
});



//체크박스를 클릭하면 합계를 재계산, form으로 전송할 객체를 체크된 것만으로 한정시킴.
        function checkboxListener(event){
          finalPrice=0;
  $('.book-price-sum').each(function(){
    let checkbox = this.parentNode.parentNode.parentNode.childNodes.item(1).childNodes.item(1);
    console.log("체크박스: "+checkbox);
    if(checkbox.checked){
      let eachPrice = $(this).attr("value") *1;
      $(this).next().attr("disabled", false);

      finalPrice+=eachPrice;
    }else{
      $(this).next().attr("disabled", true);
    }
    $('.book-price-final').text(finalPrice);
    console.log(finalPrice);
    console.log($('.book-price-final'));
  });
}

    let checkboxes= document.querySelectorAll('.checkbox');

       checkboxes.forEach((checkbox)=>{checkbox.addEventListener('change',checkboxListener)});


  </script>
</th:block>

</html>
