<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/default_layout}"
>

  <!-- home.html 고유 CSS 추가. 필요시 아래 주석 제거하고 매핑 -->
  <th:block layout:fragment="css">
    <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
  </th:block>
  <!-- home_new.html 고유 스크립트 추가 -->
  

  <!-- Content -->
  <div layout:fragment="content">
    <h1>Content-지금은 category에 와 있습니다.</h1>


    <div class="row" th:each="book:${pageList}" >

      <div class="col-md-3 detail-book-image" th:onclick="|location.href='/page/detail/${book.getSeq()}'|">
        <image class="book-image" th:src="|../../images/${book.getSeq()}.jpg|"
               onerror="this.src='../../images/error.gif'"></image>
      </div>


      <div class="col-md-6 detail-book-information" th:onclick="|location.href='/page/detail/${book.getSeq()}'|">
        <div>이벤트문구</div>
        <div id="price" th:value="${book.getPrice()}" th:text="|정가: ${book.getPrice()}|"> 정가:
          가격입력
        </div>

        <input type="hidden" id="discountRate" th:value="${book.getDiscountRate()}">
        <input type="hidden" id="mileageRate" th:value="${book.getMileageRate()}">
        <div th:with="discounted=${book.getPrice()}*((${100}-${book.getDiscountRate()})/100), mileage=${book.getPrice()}*((${book.getMileageRate()})/100), starAvg=${reviewList.get('starAvg')}, reviewCnt=${reviewList.get('reviewCnt')}">

        <div id="discounted" th:text="|할인가: ${discounted}(${book.getDiscountRate()}% 할인)|"></div>
        <div id="mileage" th:text="|적립마일리지: ${mileage}(${book.mileageRate}%) 적립|"></div>
        <div th:text="|배송료: ${book.getShipPrice()}|"> 배송료</div>

        <div th:text="|별점(리뷰수): ${starAvg}(${reviewCnt})|"> 별점+리뷰갯수</div>

        </div>
        </div>
      <div class="col-md-3">
        <form method="get">
          <div class="purchase-quantity">
        <input name="quantity" class="quantity" type="text" value="1" readonly>
            <span>
            <input type="button" onclick="quantityPlus(this)" value="+버튼">
              <input type="button" onclick="quantityMinus(this)" value="-버튼">
          </span>
          </div>

          <div class="purchase-button">
            <div class="addToCart" style="display: none; border:1px solid black;">
              <div>제품이 장바구니에 담겼습니다.</div>
              <input type="submit" value="장바구니로 이동" formaction="/page/cartList" >
              <input type="button" class="close-ajax" value="창닫기" onclick="closeAjax()">

            </div>
            <input type="button" class="cartAction" value="장바구니담기">
            <input type="submit" value="바로구매" formaction="/page/directBuy">
            <input type="submit" value="선물하기(구현안함)" formaction="">
          </div>
        </form>


    </div>

    </div>
   <span th:each="eachPage:${#numbers.sequence(1,totalPage)}" >
     <a th:href="@{/page/search(category=${category}, keyword=${keyword}, page=${eachPage-1})}">[[${eachPage}]]</a>
   </span>


</div>




    
<!--    <div class="list-category">-->
<!--    <div class="category-row" th:each="list :${pageList}">-->
<!--      <div style=" cursor: pointer;" th:onclick="|location.href='/page/detail/${list.getSeq()}';|">-->
<!--    <span th:text="${list.bookName}">  </span>-->
<!--    지은이: <span th:text="${list.writer}">  </span>-->
<!--    출판사: <span th:text="${list.publisher}">  </span>-->
<!--    카테고리: <span th:text="${list.category}">  </span>-->
<!--    출판일자: <span th:text="${list.publishDate}">  </span>-->

<!--      <hr style="color:steelblue">-->
<!--      </div>-->
<!--   </div>-->
<!--    <div>totalPage 모델에서 가져와서 for 돌려서 표시</div>-->

<!--    </div>-->
  </div>
  
  
  <th:block layout:fragment="script">
    <!-- detail.html과 동일한 script 사용-->
    <script th:inline="javascript">


      function quantityPlus(props) {
        console.log(props.parentNode.parentNode.firstChild.nextElementSibling.getAttribute("value"));
        const quantity= props.parentNode.parentNode.firstChild.nextElementSibling;
        let quantityValue= props.parentNode.parentNode.firstChild.nextElementSibling.getAttribute("value");

          quantityValue++;
        quantity.setAttribute("value", quantityValue);
      }

      function quantityMinus(props) {
        console.log(props.parentNode.parentNode.firstChild.nextElementSibling.getAttribute("value"));
        const quantity= props.parentNode.parentNode.firstChild.nextElementSibling;

        let quantityValue= props.parentNode.parentNode.firstChild.nextElementSibling.getAttribute("value");

        if (quantityValue > 1) {
          quantityValue--;
        }
        quantity.setAttribute("value", quantityValue);

      }
      let addToCart= document.querySelector(".addToCart");
      $(".cartAction").click(function () {
        $.ajax({
          type: "GET",
          url: "/page/addToCart",

          data:{"quantity": quantity.getAttribute("value")},
          contentType: "application/x-www-form-urlencoded;charset=UTF-8",
          error: function () {
            console.log('통신실패!!');
          },
          success: function (data) {

            addToCart.style.display="block";


          }
        })
      });

      function closeAjax(){
        addToCart.style.display="none";
      }

    </script>
  </th:block>
 
</html>
