<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/detail_layout}"
>

  <!-- home.html 고유 CSS 추가. 필요시 아래 주석 제거하고 매핑 -->
  <th:block layout:fragment="css">
    <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
  </th:block>
  <!-- home_new.html 고유 스크립트 추가 -->
  

  <!-- Content -->
  <div layout:fragment="content">
    <h1>Content-지금은 회원가입에 와 있습니다.</h1>

    <div class="insertMember">
      <form action="/page/insertMember" method="post">
        ID:<input type="text" name="id" id="inputId">
        <input type="button" name="idRepeatCheck" id="idRepeatCheck"value="ID중복체크">
        <div id="idRepeatCheck-result"></div>

        PW:<input type="text" name="pw" id="inputPw">
        <input type="submit" value="제출">

      </form>


    </div>
  </div>
  
  
  <th:block layout:fragment="script">
 <script>

   $(function(){
     $("#idRepeatCheck").click(function(){

       let inputId = $("#inputId").val();

       $.ajax({
         type:'get', //post 형식으로 controller 에 보내기위함!!
         url:"/function/idRepeatCheck", // 컨트롤러로 가는 mapping 입력
         data: {"inputId":inputId}, // 원하는 값을 중복확인하기위해서  JSON 형태로 DATA 전송
         success: function(data){
           if(data == "N"){ // 만약 성공할시
             result = "사용 가능한 아이디입니다.";
             console.log(data);
             $("#idRepeatCheck-result").html(result).css("color", "green");
             $("#inputPw").trigger("focus");

           }else{ // 만약 실패할시
             result="이미 사용중인 아이디입니다.";
             console.log(data);
             $("#idRepeatCheck-result").html(result).css("color","red");
             $("#inputId").val("").trigger("focus");
           }

         },
         error : function(error){alert(error);}
       });

     });

   });



  </script>  
  </th:block>
 
</html>
